$box-shadow: 3px 4px 12px 0px rgba(184, 182, 184, 0.59);

header {
    // LOGGED IN USERS //
    height: 3rem;
    .log-out {
        display: inline-block;
        max-width: 49%;
        width: 100%;
        margin-top: 1rem;

        button {
            border: none;
            line-height: 2rem;
            padding: 0 1rem;
            background-color: darken(#fafafa, 10%);
            color: #333;

            &:hover,
            &:active,
            &:focus {
                color: #fff;
                background-color: #83838b;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
            }
        }
    }
    .user-profil {
        position:relative;
        max-width: 49%;
        width: 100%;
        text-align: right;
        float: right;

        .user-gender {
            display: none;
        }

        #profile-picture1,
        #profile-picture2,
        #admin-picture {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            display: inline-block;
        }

        #admin-picture {
            background-image: url('../icons/admin.png');
        }

        #profile-picture1 {
            background-image: url('../icons/musko.png');
        }

        #profile-picture2 {
            background-image: url('../icons/zensko.png');
        }
    }

    .profil-data {
        position: absolute;
        top: 2.5rem;
        right: 0.2rem;
        display: none;
        background-color: #f9f9f9;
        color: #333;
        min-width: 160px;
        max-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        text-align: center;
        span {
            display: block;
        }
    }

    .user-profil:hover .profil-data {
        display: block;
      }
}

body {

    background-color: #a49e90;
   // background-color: #F5F5F5;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    .content-wrapper {
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 1.5rem;

        .main-content {
            text-align: center;
            background-color: #333;

            @media (min-width:768px) {
                text-align: initial;
            }
            .teacher-view-student-profil {
                text-align: center;

                p {
                    text-align: left;
                    display: inline-block;
                }
            }

            .final-mark-subjects {

                .finalising-subject-mark, .add-mark {
                    button {
                        margin-top: 1rem;
                    }
                }

                h3 {
                    text-align: center;
                }
                div {
                    margin-bottom: 1rem;
                    text-align: center;

                    table {
                        display: initial;

                        th,td {
                            border-bottom: 1px solid #fff;
                        }
                    }

                    textarea {
                        max-width: 90%;

                        @media (min-width:992px) {
                            max-width: none;
                        }
                    }
                }
            }
            .given-final-marks {
                overflow-x:auto;
                margin-bottom: 1rem;

                table {
                    padding-bottom: 1rem;
                }

                th, td {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    border-bottom: 1px solid #fff;
                }
            }

            .header-edit-mark {
                text-align: center;
            }

            .edit-mark {
                justify-content: center;

                .form-group {
                    text-align: center;

                    @media (min-width:768px) {
                        margin-right: 1rem;
                    }
                    .form-control {
                        text-align: center;
                    }
                }
            }

            .teaches {
                div, h3, h4 {
                    margin-bottom: 1rem;
                }
            }

            .teacher-search {
               &, h3 {
                    margin-bottom: 1rem;
                }

                button {
                    margin-top: 1rem;

                    @media (min-width:768px) {
                        margin-top: 0;
                    }
                }
            }
            .teacher-search-term {
                margin-top: 1rem;
            }

            .teacher-search-result {
                margin-top: 1rem;
                margin-bottom: 1rem;
                overflow-x: auto;

                table {
                    margin: 0 auto;

                    @media (min-width:768px) {
                        margin: 0;
                    }
                }

                th, td {
                    border-top: 1px solid #fff;
                }
            }

            .list-pagination {
                margin-top: 1rem;
                @media (min-width:768px) {

                    text-align: right;
                }
            }

            .user-edit {
                @media (min-width:768px) {
                    margin-bottom: 0.5rem;
                }
            }

            .dashboard-wrapper {
                text-align: center;

                #dashboard-picture {
                    width: 250px;
                    height: 250px;
                    background-image: url('../icons/admin-logo.png');
                    background-repeat: no-repeat;
                    display: inline-block;
                }
            }

            .finalising-subject-mark {
                margin-top: 1rem;
            }

            label[for=reason] {
                display: block;

            }

            label[for=mark] {
                display: inline;
                margin-top: 1rem;
            }

            textarea {
                padding: 1rem;
            }

            button,
            .create-btn {
                border: none;
                line-height: 2rem;
                padding: 0 1rem;
                background-color: darken(#fafafa, 10%);
                color: #333;

                &:hover,
                &:active,
                &:focus {
                    color: #fff;
                    background-color: #83838b;
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                }
            }

            .create-btn {

                text-decoration: none;
                padding: 0.5rem 1rem;
            }

            .btn-danger {
                background-color: #dc3545;
                color: #fff;

                &:hover,
                &:active,
                &:focus {
                    background-color:darken(#dc3545, 10%);
                }
            }

            .btn-success {
                background-color: #28a745;
                color: #fff;

                &:hover,
                &:active,
                &:focus {
                    background-color: darken(#28a745, 10%);;
                }
            }

            .go-back {
                margin-left: 1rem;

                @media (min-width:768px) {
                    float: right;
                }
            }

            .wrap-save-button, .go-back {
                display: inline-block;
                input, button {
                    border-radius: 0.3rem;
                    line-height: 2rem;
                    padding: 0 1rem;
                    background-color: #e1e1e1;
                    color: #333;
                }

                button {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: #e1e1e1;
                    }
                }
            }

            .btn-danger, .btn-success {
                padding: 2px 12px;
            }

            .table.list-view-table {
                color: #fff;
                border: 1px solid #fff;

                @media (min-width:768px) {
                    border: none;
                    table-layout: fixed;
                }


                th,td {
                    word-wrap: break-word;
                    vertical-align: middle;
                    padding: 0 0.5rem;
                    border: 1px solid #fff;

                    @media (min-width:768px) {
                        padding: 0.75rem;
                        border: none;
                        border-top: 1px solid #fff;
                    }
                }

                th {
                    @media (min-width:768px) {
                        border-bottom: 1px solid #fff;
                    }
                }
            }

            .add-mark {
                margin-top: 1rem;
            }

            .final-mark-link {
                text-align: right;
            }

            a {
                color: #fff8dc;
            }

            table {
                text-align: center;
                border-collapse: initial;
            }
            & > div {
                padding: 1rem;

                .trimester-data {
                    display: block;
                    margin: 0 auto;
                    text-align: center;

                    .trimester {
                        width: 100%;
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 2rem;
                        margin-bottom: 2rem;

                        @media (min-width:768px) {
                            max-width: 45%;
                        }
                        &:nth-child(2n) {
                            margin-right: 0;
                        }

                        table {
                            border-collapse: collapse;
                            width: 100%;
                            thead {
                                display: none;
                            }
                            td, th {
                                border: 1px solid #dddddd;
                                text-align: center;
                                padding: 8px;
                              }
                          }
                    }
                }

                .final-mark {
                    text-align: center;
                }
            }
        }
    }



    main > .container {
        padding-top: 30px;
    }

    h1 {
        display: block;
        text-align: center;
        color: #83838b;
        margin-bottom: 1rem;
    }

    //  HOME PAGE   //
    .home-banner {
        position: relative;

        img {

            display: block;
            margin: 0 auto;
            max-width: 85%;

            @media (min-width:768px) {
                max-width: 55%;
            }
        }
        .home-login {

            display: block;
            text-align: center;
            width: 100%;
            max-width: 100%;
            margin-top: 2rem;

            @media (min-width:768px) {
                position: absolute;
                bottom: 3%;
                left: 0;
                margin-top: 0;
            }

            a {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                padding: 1rem 3rem;
                background-color: #83838b;
                color: #fff;

                @media (min-width:768px) {

                    background-color: #a49e90;
                    &:hover,
                    &:active,
                    &:focus {
                    background-color: #83838b;
                    }
                }
            }
        }

    }

    //  LOGIN PAGE  //

     .login {
        width: 100%;
        max-width: 85%;
        height: 300px;
        margin: 0 auto;
        background: url('../img/home-banner.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;

        @media (min-width:768px) {
            max-width: 50%;
        }

        form {
            background: #fff;
           margin: 0 auto;
            width: auto;
            -webkit-box-shadow: 0 0 5px 2px  rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 5px 2px  rgba(0,0,0,0.75);
            box-shadow: 0 0 5px 2px  rgba(0,0,0,0.75);

            @media (min-width:768px) {
                width: 50%;
            }

            .login-data {
                display: block;
                margin: 1rem;

                input {
                    width: 100%;
                    height: 2rem;
                }

                button {
                    height: 2rem;
                    background-color: #a49e90;
                    color: #fff;
                    border: none;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: #83838b;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

                &:last-child {
                    text-align: center;
                }
            }
        }
    }

    footer {
        display: block;
        color: #fff;
        margin-top: 3rem;
        margin-bottom: 2rem;
        div {
            text-align: center;
            margin: 0 1rem;

            @media (min-width: 768px) {
                text-align: initial;
                margin: auto;
            }

            span:last-child{
                display: block;
                @media (min-width:768px) {
                    display: inline-block;
                    float: right;
                }

            }
        }

    }

}

.btn-icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border: 0;
    background: transparent;
}

.list-view-section {
    margin: 1em 0;
}

.list-view-table {

    .actions-column {
        min-width: 130px;

        .btn, form {
            display: inline-block;
        }
    }

}

.sidebar-nav {
    list-style: none;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 30px;
    -webkit-box-shadow: 17px 17px 40px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 17px 17px 40px 0px rgba(0,0,0,0.41);
    box-shadow: 17px 17px 40px 0px rgba(0,0,0,0.41);

    li {
        border-bottom: 1px solid #ccc;

        a {

            color: #333;
            padding: 10px;
            display: block;
            background: darken(#fafafa, 10%);
            transition: all ease-in-out 0.25s;

            &:hover {
              //  background: #6f42c1;
              background: #83838b;
                color: #fff;
                text-decoration: none;
            }
        }

        .mdi {
            margin: 0.5em;
            font-size: 1em;
        }
    }
}
