header {
  height: 3rem; }
  header .log-out {
    display: inline-block;
    max-width: 49%;
    width: 100%;
    margin-top: 1rem; }
    header .log-out button {
      border: none;
      line-height: 2rem;
      padding: 0 1rem;
      background-color: #e1e1e1;
      color: #333; }
      header .log-out button:hover, header .log-out button:active, header .log-out button:focus {
        color: #fff;
        background-color: #83838b;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  header .user-profil {
    position: relative;
    max-width: 49%;
    width: 100%;
    text-align: right;
    float: right; }
    header .user-profil .user-gender {
      display: none; }
    header .user-profil #profile-picture1,
    header .user-profil #profile-picture2,
    header .user-profil #admin-picture {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      display: inline-block; }
    header .user-profil #admin-picture {
      background-image: url("../icons/admin.png"); }
    header .user-profil #profile-picture1 {
      background-image: url("../icons/musko.png"); }
    header .user-profil #profile-picture2 {
      background-image: url("../icons/zensko.png"); }
  header .profil-data {
    position: absolute;
    top: 2.5rem;
    right: 0.2rem;
    display: none;
    background-color: #f9f9f9;
    color: #333;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center; }
    header .profil-data span {
      display: block; }
  header .user-profil:hover .profil-data {
    display: block; }

body {
  background-color: #a49e90;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto; }
  body .content-wrapper {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 1.5rem; }
    body .content-wrapper .main-content {
      text-align: center;
      background-color: #333; }
      @media (min-width: 768px) {
        body .content-wrapper .main-content {
          text-align: initial; } }
      body .content-wrapper .main-content .teacher-view-student-profil {
        text-align: center; }
        body .content-wrapper .main-content .teacher-view-student-profil p {
          text-align: left;
          display: inline-block; }
      body .content-wrapper .main-content .final-mark-subjects .finalising-subject-mark button, body .content-wrapper .main-content .final-mark-subjects .add-mark button {
        margin-top: 1rem; }
      body .content-wrapper .main-content .final-mark-subjects h3 {
        text-align: center; }
      body .content-wrapper .main-content .final-mark-subjects div {
        margin-bottom: 1rem;
        text-align: center; }
        body .content-wrapper .main-content .final-mark-subjects div table {
          display: initial; }
          body .content-wrapper .main-content .final-mark-subjects div table th, body .content-wrapper .main-content .final-mark-subjects div table td {
            border-bottom: 1px solid #fff; }
        body .content-wrapper .main-content .final-mark-subjects div textarea {
          max-width: 90%; }
          @media (min-width: 992px) {
            body .content-wrapper .main-content .final-mark-subjects div textarea {
              max-width: none; } }
      body .content-wrapper .main-content .given-final-marks {
        overflow-x: auto;
        margin-bottom: 1rem; }
        body .content-wrapper .main-content .given-final-marks table {
          padding-bottom: 1rem; }
        body .content-wrapper .main-content .given-final-marks th, body .content-wrapper .main-content .given-final-marks td {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          border-bottom: 1px solid #fff; }
      body .content-wrapper .main-content .header-edit-mark {
        text-align: center; }
      body .content-wrapper .main-content .edit-mark {
        justify-content: center; }
        body .content-wrapper .main-content .edit-mark .form-group {
          text-align: center; }
          @media (min-width: 768px) {
            body .content-wrapper .main-content .edit-mark .form-group {
              margin-right: 1rem; } }
          body .content-wrapper .main-content .edit-mark .form-group .form-control {
            text-align: center; }
      body .content-wrapper .main-content .teaches div, body .content-wrapper .main-content .teaches h3, body .content-wrapper .main-content .teaches h4 {
        margin-bottom: 1rem; }
      body .content-wrapper .main-content .teacher-search, body .content-wrapper .main-content .teacher-search h3 {
        margin-bottom: 1rem; }
      body .content-wrapper .main-content .teacher-search button {
        margin-top: 1rem; }
        @media (min-width: 768px) {
          body .content-wrapper .main-content .teacher-search button {
            margin-top: 0; } }
      body .content-wrapper .main-content .teacher-search-term {
        margin-top: 1rem; }
      body .content-wrapper .main-content .teacher-search-result {
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow-x: auto; }
        body .content-wrapper .main-content .teacher-search-result table {
          margin: 0 auto; }
          @media (min-width: 768px) {
            body .content-wrapper .main-content .teacher-search-result table {
              margin: 0; } }
        body .content-wrapper .main-content .teacher-search-result th, body .content-wrapper .main-content .teacher-search-result td {
          border-top: 1px solid #fff; }
      body .content-wrapper .main-content .list-pagination {
        margin-top: 1rem; }
        @media (min-width: 768px) {
          body .content-wrapper .main-content .list-pagination {
            text-align: right; } }
      @media (min-width: 768px) {
        body .content-wrapper .main-content .user-edit {
          margin-bottom: 0.5rem; } }
      body .content-wrapper .main-content .dashboard-wrapper {
        text-align: center; }
        body .content-wrapper .main-content .dashboard-wrapper #dashboard-picture {
          width: 250px;
          height: 250px;
          background-image: url("../icons/admin-logo.png");
          background-repeat: no-repeat;
          display: inline-block; }
      body .content-wrapper .main-content .finalising-subject-mark {
        margin-top: 1rem; }
      body .content-wrapper .main-content label[for=reason] {
        display: block; }
      body .content-wrapper .main-content label[for=mark] {
        display: inline;
        margin-top: 1rem; }
      body .content-wrapper .main-content textarea {
        padding: 1rem; }
      body .content-wrapper .main-content button,
      body .content-wrapper .main-content .create-btn {
        border: none;
        line-height: 2rem;
        padding: 0 1rem;
        background-color: #e1e1e1;
        color: #333; }
        body .content-wrapper .main-content button:hover, body .content-wrapper .main-content button:active, body .content-wrapper .main-content button:focus,
        body .content-wrapper .main-content .create-btn:hover,
        body .content-wrapper .main-content .create-btn:active,
        body .content-wrapper .main-content .create-btn:focus {
          color: #fff;
          background-color: #83838b;
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
      body .content-wrapper .main-content .create-btn {
        text-decoration: none;
        padding: 0.5rem 1rem; }
      body .content-wrapper .main-content .btn-danger {
        background-color: #dc3545;
        color: #fff; }
        body .content-wrapper .main-content .btn-danger:hover, body .content-wrapper .main-content .btn-danger:active, body .content-wrapper .main-content .btn-danger:focus {
          background-color: #bd2130; }
      body .content-wrapper .main-content .btn-success {
        background-color: #28a745;
        color: #fff; }
        body .content-wrapper .main-content .btn-success:hover, body .content-wrapper .main-content .btn-success:active, body .content-wrapper .main-content .btn-success:focus {
          background-color: #1e7e34; }
      body .content-wrapper .main-content .go-back {
        margin-left: 1rem; }
        @media (min-width: 768px) {
          body .content-wrapper .main-content .go-back {
            float: right; } }
      body .content-wrapper .main-content .wrap-save-button, body .content-wrapper .main-content .go-back {
        display: inline-block; }
        body .content-wrapper .main-content .wrap-save-button input, body .content-wrapper .main-content .wrap-save-button button, body .content-wrapper .main-content .go-back input, body .content-wrapper .main-content .go-back button {
          border-radius: 0.3rem;
          line-height: 2rem;
          padding: 0 1rem;
          background-color: #e1e1e1;
          color: #333; }
        body .content-wrapper .main-content .wrap-save-button button:hover, body .content-wrapper .main-content .wrap-save-button button:active, body .content-wrapper .main-content .wrap-save-button button:focus, body .content-wrapper .main-content .go-back button:hover, body .content-wrapper .main-content .go-back button:active, body .content-wrapper .main-content .go-back button:focus {
          background-color: #e1e1e1; }
      body .content-wrapper .main-content .btn-danger, body .content-wrapper .main-content .btn-success {
        padding: 2px 12px; }
      body .content-wrapper .main-content .table.list-view-table {
        color: #fff;
        border: 1px solid #fff; }
        @media (min-width: 768px) {
          body .content-wrapper .main-content .table.list-view-table {
            border: none;
            table-layout: fixed; } }
        body .content-wrapper .main-content .table.list-view-table th, body .content-wrapper .main-content .table.list-view-table td {
          word-wrap: break-word;
          vertical-align: middle;
          padding: 0 0.5rem;
          border: 1px solid #fff; }
          @media (min-width: 768px) {
            body .content-wrapper .main-content .table.list-view-table th, body .content-wrapper .main-content .table.list-view-table td {
              padding: 0.75rem;
              border: none;
              border-top: 1px solid #fff; } }
        @media (min-width: 768px) {
          body .content-wrapper .main-content .table.list-view-table th {
            border-bottom: 1px solid #fff; } }
      body .content-wrapper .main-content .add-mark {
        margin-top: 1rem; }
      body .content-wrapper .main-content .final-mark-link {
        text-align: right; }
      body .content-wrapper .main-content a {
        color: #fff8dc; }
      body .content-wrapper .main-content table {
        text-align: center;
        border-collapse: initial; }
      body .content-wrapper .main-content > div {
        padding: 1rem; }
        body .content-wrapper .main-content > div .trimester-data {
          display: block;
          margin: 0 auto;
          text-align: center; }
          body .content-wrapper .main-content > div .trimester-data .trimester {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            margin-right: 2rem;
            margin-bottom: 2rem; }
            @media (min-width: 768px) {
              body .content-wrapper .main-content > div .trimester-data .trimester {
                max-width: 45%; } }
            body .content-wrapper .main-content > div .trimester-data .trimester:nth-child(2n) {
              margin-right: 0; }
            body .content-wrapper .main-content > div .trimester-data .trimester table {
              border-collapse: collapse;
              width: 100%; }
              body .content-wrapper .main-content > div .trimester-data .trimester table thead {
                display: none; }
              body .content-wrapper .main-content > div .trimester-data .trimester table td, body .content-wrapper .main-content > div .trimester-data .trimester table th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px; }
        body .content-wrapper .main-content > div .final-mark {
          text-align: center; }
  body main > .container {
    padding-top: 30px; }
  body h1 {
    display: block;
    text-align: center;
    color: #83838b;
    margin-bottom: 1rem; }
  body .home-banner {
    position: relative; }
    body .home-banner img {
      display: block;
      margin: 0 auto;
      max-width: 85%; }
      @media (min-width: 768px) {
        body .home-banner img {
          max-width: 55%; } }
    body .home-banner .home-login {
      display: block;
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin-top: 2rem; }
      @media (min-width: 768px) {
        body .home-banner .home-login {
          position: absolute;
          bottom: 3%;
          left: 0;
          margin-top: 0; } }
      body .home-banner .home-login a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 1rem 3rem;
        background-color: #83838b;
        color: #fff; }
        @media (min-width: 768px) {
          body .home-banner .home-login a {
            background-color: #a49e90; }
            body .home-banner .home-login a:hover, body .home-banner .home-login a:active, body .home-banner .home-login a:focus {
              background-color: #83838b; } }
  body .login {
    width: 100%;
    max-width: 85%;
    height: 300px;
    margin: 0 auto;
    background: url("../img/home-banner.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center; }
    @media (min-width: 768px) {
      body .login {
        max-width: 50%; } }
    body .login form {
      background: #fff;
      margin: 0 auto;
      width: auto;
      -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75); }
      @media (min-width: 768px) {
        body .login form {
          width: 50%; } }
      body .login form .login-data {
        display: block;
        margin: 1rem; }
        body .login form .login-data input {
          width: 100%;
          height: 2rem; }
        body .login form .login-data button {
          height: 2rem;
          background-color: #a49e90;
          color: #fff;
          border: none; }
          body .login form .login-data button:hover, body .login form .login-data button:active, body .login form .login-data button:focus {
            background-color: #83838b;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
        body .login form .login-data:last-child {
          text-align: center; }
  body footer {
    display: block;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 2rem; }
    body footer div {
      text-align: center;
      margin: 0 1rem; }
      @media (min-width: 768px) {
        body footer div {
          text-align: initial;
          margin: auto; } }
      body footer div span:last-child {
        display: block; }
        @media (min-width: 768px) {
          body footer div span:last-child {
            display: inline-block;
            float: right; } }

.btn-icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 0;
  background: transparent; }

.list-view-section {
  margin: 1em 0; }

.list-view-table .actions-column {
  min-width: 130px; }
  .list-view-table .actions-column .btn, .list-view-table .actions-column form {
    display: inline-block; }

.sidebar-nav {
  list-style: none;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 30px;
  -webkit-box-shadow: 17px 17px 40px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 17px 17px 40px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 17px 17px 40px 0px rgba(0, 0, 0, 0.41); }
  .sidebar-nav li {
    border-bottom: 1px solid #ccc; }
    .sidebar-nav li a {
      color: #333;
      padding: 10px;
      display: block;
      background: #e1e1e1;
      transition: all ease-in-out 0.25s; }
      .sidebar-nav li a:hover {
        background: #83838b;
        color: #fff;
        text-decoration: none; }
    .sidebar-nav li .mdi {
      margin: 0.5em;
      font-size: 1em; }

/*# sourceMappingURL=main.css.map */
