{% extends "Admin/_editForm.html" %}

{% block panel %}
{% set entity = model.getActiveEntity() %}
{% set newEntity = entity.getId() == 0 %}
<div class="list-edit-header">
    {% if not newEntity %}
        <h3>Izmeni podatke o učeniku</h3>
    {% else %}
        <h3>Dodaj novog učenika</h3>
    {% endif %}
</div>

<div class="container">
    <form method="POST" action="{{ model.getSaveUrl() }}">
        <input type="hidden" name="entity_id" value="{{ entity.getId() }}" />

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="forename">Ime</label>
                    <input type="text" class="form-control" name="forename"  value="{{ entity.getForename() }}">
                </div>
                <div class="form-group">
                    <label for="surname">Prezime</label>
                    <input type="text" class="form-control" name="surname"  value="{{ entity.getSurname() }}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" required name="email" value="{{ entity.getEmail() }}">
                </div>
                {% if newEntity %}
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input type="password" class="form-control" required name="password">
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="gender">Pol</label>
                    <select class="form-control" name="gender">
                        <option value="M" {% if entity.getGender() == 'M' %}selected{% endif %}>Muški</option>
                        <option value="F" {% if entity.getGender() == 'F' %}selected{% endif %}>Ženski</option>
                      </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <textarea class="form-control" name="address">{{ entity.getAddress() }}</textarea>
                </div>
                <div class="form-group">
                    <label for="surname">Telefon</label>
                    <input type="text" class="form-control" name="phone" value="{{ entity.getPhone() }}">
                </div>
                <div class="form-group">
                    <label for="division">Smer</label>
                    <input type="text" class="form-control" name="division" value="{{ entity.getDivision() }}">
                </div>
                <div class="form-group">
                    <label for="year">Godina</label>
                    <select class="form-control" name="year">
                        <option value="1" {% if entity.getYear() == 1 %}selected{% endif %}>Prva</option>
                        <option value="2" {% if entity.getYear() == 2 %}selected{% endif %}>Druga</option>
                        <option value="3" {% if entity.getYear() == 3 %}selected{% endif %}>Treca</option>
                        <option value="4" {% if entity.getYear() == 4 %}selected{% endif %}>Cetvrta</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="wrap-save-button">
            <input type="submit" value="Sačuvaj" />
        </div>
        <div class="go-back">
            <button onclick="goBack()">vrati se nazad</button>
        </div>
    </form>
</div>

{% endblock %}