{% extends "Admin/_editForm.html" %}

{% block panel %}
{% set entity = model.getActiveEntity() %}
{% set newEntity = model.getActiveEntity().getId() == 0 %}
<div class="list-edit-header">
    {% if not newEntity %}
        <h3>Izmeni predmet</h3>
    {% else %}
        <h3>Dodaj novi predmet</h3>
    {% endif %}
</div>

<div class="container">
    <form method="POST" action="{{ model.getSaveUrl() }}">
        <input type="hidden" name="entity_id" value="{{ entity.getId() }}" />

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Naziv</label>
                    <input type="text" class="form-control" name="name" value="{{ entity.getName() }}">
                </div>
                <div class="form-group">
                    <label for="description">Opis</label>
                    <textarea class="form-control" name="description">{{ entity.getDescription() }}</textarea>
                </div>
            </div>
        </div>
        <div class="wrap-save-button">
            <input type="submit" value="Sačuvaj" />
        </div>
        <div class="go-back">
            <button onclick="goBack()">vrati se nazad</button>
        </div>
    </form>
</div>

{% endblock %}