{% extends "Admin/_editForm.html" %}

{% block panel %}
{% set entity = model.getActiveEntity() %}
{% set newEntity = entity.getId() == 0 %}
<div class="list-edit-header header-edit-mark">
    {% if not newEntity %}
        <h3>Izmeni podatke o oceni</h3>
    {% else %}
        <h3>Dodaj novu ocenu</h3>
    {% endif %}
</div>

<div class="container">
    <form method="POST" action="{{ model.getSaveUrl() }}">
        <input type="hidden" name="entity_id" value="{{ entity.getId() }}" />

        <div class="row edit-mark">
                <div class="form-group">
                    <label for="forename">Učenik</label>
                    <input type="text" class="form-control" disabled readonly value="{{ entity.getStudent().getName() }}">
                </div>
                <div class="form-group">
                    <label for="surname">Predmet</label>
                    <input type="text" class="form-control" disabled readonly  value="{{ entity.getSubject().getName() }}">
                </div>
                <div class="form-group">
                    <label for="email">Nastavnik</label>
                    <input type="email" class="form-control" disabled readonly value="{{ entity.getTeacher().getName() }}">
                </div>
                <div class="form-group">
                    <label for="email">Datum</label>
                    <input type="email" class="form-control" disabled readonly value="{{ entity.getCreatedAt()|date }}">
                </div>
            </div>
        </div>
        <div class="row edit-mark">
            <div class="form-group">
                <label for="email">Tromesečje</label>
                <select class="form-control" name="quarter">
                    <option value="1" {% if entity.getQuarter() == 1 %}selected{% endif %}>Prvo</option>
                    <option value="2" {% if entity.getQuarter() == 2 %}selected{% endif %}>Drugo</option>
                    <option value="3" {% if entity.getQuarter() == 3 %}selected{% endif %}>Trece</option>
                    <option value="4" {% if entity.getQuarter() == 4 %}selected{% endif %}>Cetvrto</option>
                </select>
            </div>
            <div class="form-group">
                <label for="year">Ocena</label>
                <select class="form-control" name="mark">
                    <option value="1" {% if entity.getMark() == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if entity.getMark() == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if entity.getMark() == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if entity.getMark() == 4 %}selected{% endif %}>4</option>
                    <option value="5" {% if entity.getMark() == 4 %}selected{% endif %}>5</option>
                </select>
            </div>
        </div>
        <div class="wrap-save-button">
            <input type="submit" value="Sačuvaj" />
        </div>
        <div class="go-back">
            <button onclick="goBack()">vrati se nazad</button>
        </div>
    </form>
</div>

{% endblock %}