{% extends "Admin/_list.html" %}

{% block list %}
<div class="list-view-header">
    <h3>Lista ocena</h3>
</div>
<div style="overflow-x:auto;">
    <table class="table list-view-table">
        <thead>
            <tr>
                <th>Učenik</th>
                <th>Predmet</th>
                <th>Nastavnik</th>
                <th>Datum</th>
                <th>Ocena</th>
                <th>Tromesečje</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in model.getActiveList().getItems() %}
                <tr>
                    <td>{{ item.getStudent().getName() }}</td>
                    <td>{{ item.getSubject().getName() }}</td>
                    <td>{{ item.getTeacher().getName() }}</td>
                    <td>{{ item.getCreatedAt()|date() }}</td>
                    <td>{{ item.getMark() }}</td>
                    <td>{{ item.getQuarter() }}</td>
                    <td class="actions-column">
                        <a href="{{ model.getEditUrl(item) }}" class="btn btn-secondary user-edit">
                            <span class="mdi mdi-pencil"></span>
                        </a>
                        {% if item.isDeleted() %}
                            <form method="POST" action="{{ model.getRestoreUrl() }}">
                                <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                <button class="btn btn-primary btn-success" type="submit">
                                    <span class="mdi mdi-delete-restore"></span>
                                </button>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ model.getDeleteUrl() }}">
                                <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                <button class="btn btn-primary btn-danger" type="submit">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}