{% extends "_global/index.html" %}

{% block main %}
<h1>Elektronski dnevnik - Administrativni Portal</h1>
<section class="login">

    <form method="POST">

            <div class="login-data">
                <input type="email" id="email" name="log_email" placeholder="Unesite svoju admin email adresu" required>
            </div>

            <div class="login-data">
                <input type="password" id="password" name="log_pass" placeholder="Unesite svoju lozinku" required>
            </div>

            <div class="login-data">
                <button type="submit">Prijavite se</button>
            </div>

    </form>
</section>

{% endblock %}
{% block footer %}
{% endblock %}