{% extends "_global/index.html" %}
{% block main %}
<div class="home-banner">
    <h1>Elektronski dnevnik</h1>
    <img src="{{ BASE }}assets/img/home-banner.jpg">
    <div class="home-login">
        <a href="{{ BASE }}user/login">Ulogujte se</a>
    </div>
</div>
{% endblock %}

{% block naslov %}
{{ student.forename|escape }}
{% endblock %}

{% block footer %}
{% endblock %}