{% extends "Admin/_editForm.html" %}

{% block panel %}
{% set entity = model.getActiveEntity() %}
{% set newEntity = entity.getId() == 0 %}
<div class="list-edit-header">
    {% if not newEntity %}
        <h3>Izmeni podatke korisnika za prijavu na aplikaciju</h3>
    {% else %}
        <h3>Dodaj novog administratora</h3>
    {% endif %}
</div>

<div class="container">
    <form method="POST" action="{{ model.getSaveUrl() }}">
        <input type="hidden" name="entity_id" value="{{ entity.getId() }}" />
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" required name="email" value="{{ entity.getEmail() }}">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="email">Nova lozinka</label>
                    <input type="password" class="form-control" name="password" {% if newEntity %} required {% endif %}>
                </div>
            </div>
        </div>
        <div class="wrap-save-button">
            <input type="submit" value="sačuvaj" />
        </div>
        <div class="go-back">
            <button onclick="goBack()">vrati se nazad</button>
        </div>
    </form>
</div>

{% endblock %}