{% extends "Admin/_list.html" %}

{% block list %}
<div class="list-header">
    <h3>Lista svih korisnika</h3>
</div>

<div class="list-view-section">
    <a href="/admin/user/create" type="button" class="create-btn">Dodaj novog administratora</a>
</div>
<div style="overflow-x:auto;">
    <table class="table list-view-table">
        <thead>
            <tr>
                <th>ID </th>
                <th>Email</th>
                <th>Kreirano</th>
                <th>Tip</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in model.getActiveList().getItems() %}
                <tr>
                    <td>{{ item.getId() }}</td>
                    <td>{{ item.getEmail() }}</td>
                    <td>{{ item.getCreatedAt()|date() }}</td>
                    <td>{{ item.getType() }}</td>
                    <td class="actions-column">
                        <a href="{{ model.getEditUrl(item) }}" class="btn btn-secondary">
                            <span class="mdi mdi-pencil"></span>
                        </a>
                        {% if item.getType() == "admin" %}
                            {% if item.isDeleted() %}
                                <form method="POST" action="{{ model.getRestoreUrl() }}">
                                    <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                    <button class="btn btn-primary btn-success" type="submit">
                                        <span class="mdi mdi-delete-restore"></span>
                                    </button>
                                </form>
                            {% else %}
                                <form method="POST" action="{{ model.getDeleteUrl() }}">
                                    <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                    <button class="btn btn-primary btn-danger" type="submit">
                                        <span class="mdi mdi-delete"></span>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}