{% extends "_global/index.html" %}

{% block top %}

<header>
    <div class="log-out">
        <form method="POST" action="/user/logout">
            <button type="submit">Izlogujte se</button>
        </form>
    </div>

    <div class="user-profil">
        <span>{{ model.getTeacher().forename }}</span>
        <span>{{ model.getTeacher().surname }}</span>
        <span class="user-gender">{{ model.getTeacher().gender}}</span>
        <span id="profile-picture1"></span>
        <span id="profile-picture2"></span>
    </div>

</header>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- main sidebar -->
            <ul class="sidebar-nav">
                <li>
                    <a href="/user/dashboard"><span class="mdi mdi-view-dashboard"></span>Nastavnička tabla</a>
                </li>
                <li>
                    <a href="/marks/final"><span class="mdi mdi-playlist-check"></span>Zaključne ocene</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="content-wrapper">
                <div class="main-content">
                    <div>
                        {% block panel %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}