{% extends "Teacher/_layout.html" %}

{% block head %}
<h1>Zaključi ocenu</h1>
{% endblock %}

{% block panel %}

{% set student = model.getStudentViewModel().getStudent() %}
{% set subject = model.getSubject() %}

<section class="teacher-view-student-profil">
    <h3>Profil učenika</h3>
    <p>
        <br>Ime: {{ student.forename }}
        <br>Prezime: {{ student.surname }}
        <br>Pol: {{ student.gender }}
        <br>Smer: {{ student.division }}
        <br>Godina: {{ student.year }}
    </p>
</section>

<div class="final-mark-subjects">
<div>
    <h3>{{ subject.name }}</h3>
    <p>{{ subject.description }}</p>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Tromesečje</th>
                <th>Datum</th>
                <th>Ocena</th>
            </tr>
        </thead>
        {% for mark in model.getSubjectMarks(subject.subject_id) %}
            <tr>
                <td>{{ mark.quarter }}</td>
                <td>{{ mark.created_at }}</td>
                <td>{{ mark.mark }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Tromesečje</th>
                <th>Prosečna ocena</th>
            </tr>
        </thead>
        {% for mark in model.getAverageSubjectMarks(subject.subject_id) %}
            <tr>
                <td>{{ mark.quarter }}</td>
                <td>{{ mark.average_mark }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h3>Zaključivanje ocene iz predmeta: {{ subject.name }}</h3>
    <p>Predlog zaključne ocene: {{ model.getSuggestedFinalMark() }} ({{ model.getSuggestedFinalMark(false) }})</p>
    {% if not model.getFinalMark(student.getId(), subject.subject_id) %}
        <form method="POST" action="/marks/final/createPost">
            <div>
                <label for="reason">
                    <span>Obrazloženje zaključne ocene (ako je veća od prosečne)</span>
                </label>
                <textarea name="reason" rows="2" cols="38"></textarea>
            </div>
            <div class="finalising-subject-mark">
                <input type="hidden" value="{{ student.getId() }}" name="student_id" />
                <input type="hidden" value="{{ subject.subject_id }}" name="subject_id" />
                <label for="mark">Zaključna ocena</label>
                <input type="text" name="mark" size="1" maxlength="1"/>
                <button type="submit">Zaključi ocenu</button>
            </div>
        </form>
    {% else %}
        <div>
            <span>Zaključena ocena: {{ model.getFinalMark(student.getId(), subject.subject_id).final_mark }}</span>
        </div>
    {% endif %}
</div>

{% endblock %}