{% extends "Teacher/_layout.html" %}

{% block head %}
<h1>Zaključene ocene</h1>
{% endblock %}

{% block panel %}
<div class="given-final-marks">
    <table>
        <thead>
            <tr>
                <th>Učenik</th>
                <th>Predmet</th>
                <th>Zaključna ocena</th>
                <th>Datum</th>
                <th>Razlog</th>
            </tr>
        </thead>
        <tbody>
            {% for data in model.getStudentsWithFinalMarks() %}
                <tr>
                    <td>
                        <a href="/student/view/?id={{ data.student_id }}">
                            {{ data.forename }} {{ data.surname }}
                        </a>
                    </td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.final_mark }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.explanation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}