{% extends "Teacher/_layout.html" %}

{% block head %}
<h1>Student: {{ model.getStudent().forename }} {{ model.getStudent().surname }}</h1>
{% endblock %}

{% block panel %}

{% set student = model.getStudentViewModel().getStudent() %}

<section class="teacher-view-student-profil">
    <h3>Profil učenika</h3>
    <p>
        <br>Ime: {{ student.forename }}
        <br>Prezime: {{ student.surname }}
        <br>Pol: {{ student.gender }}
        <br>Smer: {{ student.division }}
        <br>Godina: {{ student.year }}
    </p>
</section>

<section class="final-mark-subjects">
    <h3>Predmeti koje učenik slusa kod mene:</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Opis</th>
                </tr>
            </thead>
            {% for subject in model.getStudentSubjects() %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.description }}</td>
                </tr>
                <tr>
                    <table>
                        <thead>
                            <tr>
                                <th>Tromesečje</th>
                                <th>Datum</th>
                                <th>Ocena</th>
                            </tr>
                        </thead>
                        {% for mark in model.getSubjectMarks(subject.subject_id) %}
                            <tr>
                                <td>{{ mark.quarter }}</td>
                                <td>{{ mark.created_at }}</td>
                                <td>{{ mark.mark }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
                <tr>
                    <table>
                        <thead>
                            <tr>
                                <th>Tromesečje</th>
                                <th>Prosečna ocena</th>
                            </tr>
                        </thead>
                        {% for mark in model.getAverageSubjectMarks(subject.subject_id) %}
                            <tr>
                                <td>{{ mark.quarter }}</td>
                                <td>{{ mark.average_mark }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </tr>
                {% if not model.getFinalMark(student.getId(), subject.subject_id) %}
                    <tr>
                        <form method="POST" action="/marks/createPost">
                            <input name="student_id" value="{{ student.getId() }}" type="hidden">
                            <input name="subject_id" value="{{ subject.subject_id }}" type="hidden">

                            <div class="add-mark">
                                <label for="mark">Ocena</label>
                                <input type="text" name="mark" size="1" maxlength="1"/>
                                <button type="submit" >Unesi novu ocenu</button>
                            </div>



                        </form>
                    </tr>
                    <tr>
                        <div class="final-mark-link">
                            <a href="/marks/final/create?studentId={{ student.getId() }}&subjectId={{ subject.subject_id }}" target="_blank">
                                <span>Zaključi ocenu</span>
                            </a>
                        </div>
                    </tr>
                {% else %}
                    <tr>
                        <div>
                            <span>Zaključena ocena: {{ model.getFinalMark(student.getId(), subject.subject_id).final_mark }}</span>
                        </div>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}