{% extends "Admin/_editForm.html" %}

{% block panel %}
{% set entity = model.getActiveEntity() %}
{% set newEntity = model.getActiveEntity().getId() == 0 %}
<div class="list-edit-header">
    {% if not newEntity %}
        <h3>Izmeni podatke o nastavniku</h3>
    {% else %}
        <h3>Dodaj novog nastavnika</h3>
    {% endif %}
</div>

<div class="container">
    <form method="POST" action="{{ model.getSaveUrl() }}">
        <input type="hidden" name="entity_id" value="{{ entity.getId() }}" />

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="forename">Ime</label>
                    <input type="text" class="form-control" name="forename" value="{{ entity.getForename() }}">
                </div>
                <div class="form-group">
                    <label for="surname">Prezime</label>
                    <input type="text" class="form-control" name="surname" value="{{ entity.getSurname() }}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" required name="email" value="{{ entity.getEmail() }}">
                </div>
                {% if newEntity %}
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input type="password" class="form-control" required name="password">
                </div>
                {% endif %}
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="gender">Pol</label>
                    <select class="form-control" name="gender">
                        <option value="M" {% if entity.getGender() == 'M' %}selected{% endif %}>Muški</option>
                        <option value="F" {% if entity.getGender() == 'F' %}selected{% endif %}>Ženski</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="qualifications">Kvalifikacije</label>
                    <textarea class="form-control" name="qualifications">{{ entity.getQualifications() }}</textarea>
                </div>
                <div class="form-group">
                    <label for="subjects[]">Predmeti</label>
                    <select multiple class="form-control" name="subjects[]">
                        {% for item in model.getTeacherSubjects(entity) %}
                            <option value="{{ item.id }}" {% if item.selected %}selected{% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="wrap-save-button">
            <button class="btn btn-primary" type="submit">Sačuvaj</button>
        </div>
        <div class="go-back">
            <button onclick="goBack()">vrati se nazad</button>
        </div>
    </form>
</div>

{% endblock %}