{% extends "Admin/_list.html" %}

{% block list %}
<div class="list-header">
    <h3>Lista nastavnika</h3>
</div>

<div class="list-view-section">
    <a href="/admin/teacher/create" type="button" class="create-btn">Dodaj novog nastavnika</a>
</div>
<div style="overflow-x:auto;">
    <table class="table list-view-table">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Kvalifikacije</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in model.getActiveList().getItems() %}
                <tr>
                    <td>{{ item.getForename() }}</td>
                    <td>{{ item.getSurname() }}</td>
                    <td>{{ item.getEmail() }}</td>
                    <td>{{ item.getQualifications() }}</td>
                    <td class="actions-column">
                        <a href="{{ model.getEditUrl(item) }}" class="btn btn-secondary">
                            <span class="mdi mdi-pencil"></span>
                        </a>
                        {% if item.isDeleted() %}
                            <form method="POST" action="{{ model.getRestoreUrl() }}">
                                <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                <button class="btn btn-primary btn-success" type="submit">
                                    <span class="mdi mdi-delete-restore"></span>
                                </button>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ model.getDeleteUrl() }}">
                                <input name="entity_id" value="{{ item.getId() }}" type="hidden" />
                                <button class="btn btn-primary btn-danger" type="submit">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}