<!DOCTYPE html>
<html>
    <head>
        <title>Elektronski dnevnik - {% block naslov %} Pocetna {% endblock %}</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css">
        <script href="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/js.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body onload="genderPicture()">
        <main>
            <div class="container">
            {% block top %}
            {% endblock %}
            </div>

            <div class="container">
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.getType() }}" role="alert">
                            <span>{{ message.getMessage() }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% block main %}
            {% endblock %}
        </main>
        {% block footer %}
        <footer>
            <div class="container">
                <span><b>Razvoj informacionog sistema srednje škole u tehnologiji PHP</b></span>
                <span><b>&copy; 2020 Stevan Gavrilović</b></span>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>