{% extends "_global/index.html" %}

{% block head %}
<h1>Naziv predmeta</h1>
{% endblock %}

{% block top %}

<header>
    <div class="log-out">
        <form method="POST" action="/user/logout">
            <button type="submit">Izlogujte se</button>
        </form>
    </div>

    <div class="user-profil">
        <span>{{ model.getStudent().forename }}</span>
        <span>{{ model.getStudent().surname }}</span>
        <span class="user-gender">{{ model.getStudent().gender}}</span>
        <span id="profile-picture1"></span>
        <span id="profile-picture2"></span>
        <div class="profil-data">
            <span>Adresa:</span>
            <span>{{ model.getStudent().address }}</span>
            <span>Telefon {{ model.getStudent().phone }}</span>
            <span>Smer: {{ model.getStudent().division }}</span>
            <span>Godina: {{ model.getStudent().year }}</span>
        </div>
    </div>

</header>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="sidebar-nav">
                {% set allSubjects = 0 %}
                {% for subjectData in model.getSubjectsData() %}
                {% set allSubjects = allSubjects + 1 %}
                <li>
                    <a href="#sub{{ allSubjects }}" onclick="subjectData('sub{{ allSubjects }}')">{{ subjectData.subject_name }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-8">
            <div class="content-wrapper">
                <div class="main-content">
                    {% set subjectCount = 0 %}
                    {% for subjectData in model.getSubjectsData() %}
                    {% set subjectCount = subjectCount + 1 %}
                    <div id="sub{{ subjectCount }}" style="display: none;">
                        <h1>{{ subjectData.subject_name }}</h1>
                        <br />
                        <div class="trimester-data">
                            {% for i in 1..4 %}
                        <div class="trimester">
                                <h2>Tromesečje {{ i }}</h2>

                                {% set numOfData = 0 %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for grade in model.getSubjectTrimesterGrades(subjectData, i) %}

                                                {% if numOfData == 3 %}
                                                    </tr><tr>{% set numOfData = 0 %}
                                                {% endif %}
                                                <td>
                                                    {{ grade.mark }}
                                                </td>
                                                {% set numOfData = numOfData + 1  %}
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                <span>
                                    srednja ocena: {{ model.getSubjectAverageGrade(subjectData, i) }}
                                </span><br>
                            </div>
                            {% endfor %}
                        </div>
                        <p class="final-mark">
                            Zaključna ocena: {{ model.getFinalMark(model.getStudent().id, subjectData.subject_id) }}
                         </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
