{% extends "Teacher/_layout.html" %}

{% block head %}
<h1>Dashboard</h1>
{% endblock %}

{% block panel %}
<!-- main panel -->
<div class="teacher-search">
    <form method="POST" action="/user/dashboard/">
        <h3>Pretraga učenika</h3>
        <label for="search_request">Email adresa: </label>
        <input type="email" name="search_request">
        <button type="submit" name="submit" >pretraži</button>
    </form>
</div>
{% if model.getSearchRequest() %}
    <div class="teacher-search-term">Rezultat pretrage: {{ model.getSearchRequest() }}</div>
<div class="teacher-search-result">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime i prezime</th>
                <th>Telefon</th>
                <th>Godina</th>
                <th></th>
            </tr>
        </thead>
    {% for student in model.searchResults() %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.forename }} {{ student.surname }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.year }}</td>
            <td><a href="/student/view/?id={{ student.id }}">pogledaj</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

<div class="teaches">
    <h3>Moji predmeti</h3>

    {% for subject in model.getAssignedSubjects() %}
        <div>
            <h4>{{ subject.name }}</h4>
            <p>{{ subject.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}