{% extends "_global/index.html" %}

{% block top %}
<header>
    <div class="log-out">
        <form method="POST" action="/user/logout">
            <button type="submit">Izlogujte se</button>
        </form>
    </div>

    <div class="user-profil">
        <span>{{ model.getDataModel().email }}</span>
        <span id="admin-picture"></span>
    </div>
</header>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- main sidebar -->
            <ul class="sidebar-nav">
                <li>
                    <a href="/user/dashboard"><span class="mdi mdi-view-dashboard"></span>Administratorska tabla</a>
                </li>
                <li>
                    <a href="/admin/user"><span class="mdi mdi-shield-account"></span>Korisnici</a>
                </li>
                <li>
                    <a href="/admin/student"><span class="mdi mdi-account-multiple"></span>Učenici</a>
                </li>
                <li>
                    <a href="/admin/teacher"><span class="mdi mdi-account-tie"></span>Nastavnici</a>
                </li>
                <li>
                    <a href="/admin/subject"><span class="mdi mdi-clipboard-list"></span>Predmeti</a>
                </li>
                <li>
                    <a href="/admin/mark"><span class="mdi mdi-playlist-check"></span>Ocene</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="content-wrapper">
                <div class="main-content">
                    {% block panel %}
                        <div class="dashboard-wrapper">
                            <span id="dashboard-picture"></span>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}