{% extends "Admin/_layout.html" %}

{% block panel %}

    {% block list %}{% endblock %}

    <div class="list-pagination">
        <div class="current-page">Trenutno na strani: {{ model.getActiveList().getPage() + 1 }}</div>
        <div>Prikazano: {{ model.getActiveList().getPageSize()*model.getActiveList().getPage() }} - {{ model.getActiveList().getPageSize()*(model.getActiveList().getPage()+1) }} od {{ model.getActiveList().getSize() }}</div>

        <div>
            <!-- pagination -->
            <form method="GET">
                {% for i in 1.. model.getActiveList().getPageCount() %}
                <a class="btn btn-outline-secondary" href="?page={{ i - 1 }}">{{ i }}</a>
                {% endfor %}
            </form>
        </div>
    </div>

{% endblock %}